<meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="description" content="" />

<title>Bitcoin price listing - CRON JOB</title>

<link href="/css/lib/bootstrap.css" rel="stylesheet" />
<link href="/css/lib/sweet-alert.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<link type="image/x-icon" href="/favicon.jpg" rel="shortcut icon" />

<script src="/js/lib/jquery10.js"></script>
<script src="/js/lib/migrate.js"></script>
<script src="/js/lib/modernizr.custom.57033.js"></script>
<script src="/js/lib/sweet-alert.min.js"></script>

<script src="/js/script.js"></script>