<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="">

    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />

    <%- include('../Shared/Head') %>

    <script defer>
        function goBack() {
            window.location.href = '/'
        }
    </script>
</head>

<body>
    <div class="wrapper">
        <%- include('../Shared/Header') %>
        <section class="content">
            <div class="notfound">
                An error occured, please try again later
                <button onclick="goBack()">Go to homepage</button>
            </div>
        </section>
        <%- include('../Shared/Footer')%>
    </div>
</body>

</html>